@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "yekan";
  src: url("../font/iranyekanwebregularfanum.woff") format("woff");
}

body {
  direction: rtl;
  margin: 0;
  overflow-x: hidden;
}

body,
input,
button {
  font-family: "yekan";
}

.icon {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.container {
  margin: auto;
  width: 87%;
}

.mySwiper {
  margin-top: 30px;
}

.list li {
  cursor: pointer;
}

.list li:hover {
  color: #616da7;
}

.active {
  color: #616da7;
}

.label {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #67bcee;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 0 12px;
  font-size: 12px;
}

.footer h2 {
  font-size: 20px;
  color: #ebebeb;
  font-weight: bold;
}

.footer li {
  color: #ebebeb;
  transition: all 0.1s ease-in;
}

.footer li:hover {
  color: #252c4f;
  cursor: pointer;
}

.productSwiper {
  width: 87%;
  height: 260px;
}

.dropdown {
  cursor: pointer;
  position: relative;
}

.dropdown-content {
  display: flex;
  justify-content: center;
  visibility: hidden;
  position: absolute;
  top: 80%;
  right: -20%;
  background-color: #fdfdfd;
  width: 600px;
  height: 355px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-content-angle {
  color: #333333;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  font-size: 15px;
}

.dropdown-content .dropdown-content-angle:hover {
  color: #616da7;
}

.dropdown-content li {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: normal;
  color: #565b63;
}

.dropdown-content li:hover {
  color: #616da7;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
}
.productList {
  list-style: none;
}

.angle {
  border-radius: 5px;
  padding: 2px 5px;
  width: 18.3rem;
  border: 1px solid rgb(212, 212, 212);
  margin-top: 3px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.1s ease-in;
}

.angle:hover {
  color: #616da7;
}

.angle::before {
  content: "\f104 ";
  font-family: FontAwesome;
  font-size: 14px;
  padding-left: 3px;
}

@media only screen and (max-width: 425px) {
  .productSwiper {
    height: 250px;
  }
  .footer h2 {
    font-size: 14px;
  }

  .footer li {
    font-size: 12px;
  }
}

@media screen and (max-width: 640px) {
  .angle {
    width: 13rem;
  }
  .productList {
    height: 50rem;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .productList {
    height: 42rem;
  }
  .mySwiper {
    margin-top: 0;
  }
}

@media only screen and (max-width: 1023px) {
  .list li {
    border-bottom: 1px solid rgb(243, 243, 243);
    padding: 17px 0;
  }
  .list li:last-child() {
    border-bottom: none;
  }
  .dropdown {
    display: block;
    overflow-x: hidden;
  }
  .dropdown-content {
    position: relative;
    display: block;
    width: 350px;
    box-shadow: none;
    top: 0;
    right: 0;
  }
  .dropdown-content-angle {
    padding-right: 8px;
    font-weight: bold;
  }
  .dropdown-content li {
    padding: 14px 20px;
  }
  ul:last-of-type li:last-child {
    border-bottom: none;
  }
  .productList {
    height: 46rem;
  }
}

@media only screen and (min-width: 1280px) {
  .productList {
    height: 25rem;
  }
}
