@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "yekan";
  src: url("../font/iranyekanwebregularfanum.woff") format("woff");
}

body {
  direction: rtl;
  margin: 0;
}

body,
input,
button {
  font-family: "yekan";
}

.icon {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.container {
  margin: auto;
  width: 87%;
}

li {
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

li:hover {
  color: #616da7;
}

@media only screen and (max-width: 1023px) {
  li {
    border-bottom: 1px solid rgb(243, 243, 243);
    padding: 17px 0;
  }
  li:nth-child(5) {
    border-bottom: none;
  }
}

.active{
  color: #616da7;
}